{plugins, [rebar3_rdl]}.
{erl_opts, [debug_info]}.

{rdl_opts, [
            % optional: alternative peakrdl location
            %{peakrdl, "/home/joaohf/peakrdl/PeakRDL-beam/venv/bin/peakrdl"},
            % optional: add a module prefix
            {module_name_prefix, "rebar3_rdl_example_"}
            % optional: add a module suffix
            %{module_name_suffix, "_pb"}
           ]}.